/* ProductDetailsPage.module.css */

.productDetails {
  display: flex;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .productDetails {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
}

.imageContainer {
  flex: 1;
  padding-left: 20px;
  margin-top: 3%;
}

@media (max-width: 768px) {
  .imageContainer {
    width: 100%;
    height: 30%;
    padding: 0;
    margin-bottom: 20px;
    /* Add margin bottom for spacing */
    /* border: 2px solid violet; Set border color to violet */
  }
}

.detailsContainer {
  flex: 3;
  background-color: rgb(254, 252, 254);
  border-radius: 5px;
  padding: 20px;
}

@media (max-width: 768px) {
  .productImage {
    width: 50%;
    height: 30%;
    /* Ensure image aspect ratio is maintained */
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid violet;
    /* Set border color to violet */
  }
}

.button {
  background-color: rgb(135, 5, 135);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border-color: violet;
  cursor: pointer;
  margin-top: 20px;
  /* Add margin top for spacing */
}

.button:disabled {
  background-color: gray;
  /* Change background color when button is disabled */
  cursor: not-allowed;
}